<div class="d-flex justify-content-center" style="margin-top: 6rem">
    <div class="card" style="width: 32rem;">
        <div class="card-header">
            <strong>Cesarean encrypt application</strong>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Developer: Wolodymyr Didukh</li>
            <li class="list-group-item">Group: PMo-31</li>
            <li class="list-group-item">AMI Faculty</li>
        </ul>
    </div>
</div>
